<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PEStorage:RootPath" value="c:\pestore"/>
  </appSettings>
  <connectionStrings>
    <add name="PEStorageConnectionString" connectionString="UseDevelopmentStorage=true"/>
    <add name="EngineDb" connectionString="Data Source=.;Initial Catalog=Engine_Master_961;Integrated Security=true"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>